<VirtualHost *:80>
    ServerName eatandtour-bangsaen.com
    ServerAlias www.eatandtour-bangsaen.com
    DocumentRoot /var/nfs/www/eatandtour-bangsaen.com/html
     <Directory /var/nfs/www/eatandtour-bangsaen.com/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/eatandtour-bangsaen.com/log/error.log
    CustomLog "| /bin/sh -c '/usr/bin/tee -a /var/nfs/www/eatandtour-bangsaen.com/log/requests.log | /usr/bin/logger -thttpd_eatandtour -plocal1.notice'" combined
</VirtualHost>